body {
    background: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    margin-left: 60px;
}

h1 {
    color: indigo;
}

h2 {
    margin-left: 20px;
}

p {
    margin-left: 40px;
}

<<<<<<< HEAD
.project {
    margin-left: 30px;
=======
.about {

}

.skills {

}

.projects {

}

.contact {
    
>>>>>>> db19730b524cc98409a40e160bff271349cff707
}