body {
    background: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    margin-left: 60px;
}

h1 {
    color: indigo;
}

h2 {
    margin-left: 20px;
}

p {
    margin-left: 40px;
}

.project {
    margin-left: 30px;
}